body {
  background-color: #fff;
  overflow-x: hidden!important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* background-image: url('../img/bg-login.png'); */
  height: 100%;
  margin: 0;
  font-family: 'Ubuntu';
}


@media only screen and (max-width: 768px){
  html, body {
    overflow-x: hidden!important;
  }
}

@media (max-width: 767.98px){
  .desktop {
    display: none;
  }
}

@media (min-width: 992px){
  .mobile {
    display: none;
  }
}

.App {
  background-color: #fff;
  /* overflow-x: hidden!important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; */
  background-image: url('../img/bg-login.png');
  height: 100%;
  margin: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}


.login-section {
  margin: 120px 20px;
}


.login-section h2 {
  color: #3D0072;
  font-size: 45px;
  line-height: 52px;
  font-weight: 700;
}

.login-section h6 {
  color: #4B5563;
  font-size: 12px;
  line-height: 19px;
  font-weight: 400s;
}

.login-form {
  background-color: transparent;
  padding: 90px 40px;
  box-shadow: 0px 12px 24px rgba(10, 7, 12, 0.15);
  border-radius: 20px;
}

.login-form h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
  color: #3D0072;
}

.login-form h6 {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: #9CA3AF;
}