@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

body {
  background-color: #fef5fc;
  overflow-x: hidden!important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* background-image: url('../img/bg-login.png'); */
  height: 100%;
  margin: 0;
  font-family: 'Ubuntu';
}


@media only screen and (max-width: 768px){
  html, body {
    overflow-x: hidden!important;
  }
}

@media (max-width: 767.98px){
  .desktop {
    display: none;
  }
}

@media (min-width: 992px){
  .mobile {
    display: none;
  }
}

.App {
  background-color: #fff;
  /* overflow-x: hidden!important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; */
  background-image: url('../img/bg-login.png');
  height: 100%;
  margin: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}


.login-section {
  margin: 60px 20px;
}


.login-section h2 {
  color: #3D0072;
  font-size: 55px;
  line-height: 60px;
  font-weight: 700;
}

.login-section h6 {
  color: #4B5563;
  font-size: 12px;
  line-height: 19px;
  font-weight: 400s;
}

@media (min-width: 992px){
  .login-form {
    background-color: transparent;
    padding: 40px 50px;
    box-shadow: 0px 12px 24px rgba(10, 7, 12, 0.15);
    border-radius: 20px;
  }
}

@media (max-width: 767.98px){
  .login-form {
    background-color: transparent;
    padding: 40px 26px;
    box-shadow: 0px 12px 24px rgba(10, 7, 12, 0.15);
    border-radius: 20px;
  }
}

.login-form h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
  color: #3D0072;
}

.login-form h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #9CA3AF;
}

.users {
  font-size: 17px;
  font-weight: 400;
  line-height: 19px;
  color: #9CA3AF;
}

.ardilla-btn {
  background-color: #8807F7;
  border-color: #8807F7!important;
  border-radius: 60px;
  color: #fff!important;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
}

.ardilla-btn:hover {
  background-color: #5f0aaa;
  border-color: #5f0aaa!important;
  border-radius: 60px;
  color: #fff!important;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
}

/* input [type=email] {
  border: none;
  border-bottom: 1px solid #D1D5DB;
}

input [type=email] {
  border: none;
  border-bottom: 1px solid #D1D5DB;
} */

.custom-login {
  background-color: initial;
  padding: 10px 20px;
  border-radius: 0px;
  border-bottom: 1px solid #D1D5DB;
  border-top: none;
  border-left: none;
  border-right: none;

}

.form-label {
  margin-bottom: 0;
  color: #9CA3AF;
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
  font-family: 'Poppins';
}

.login-form a {
  text-decoration: none;
  color: #8807F7;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}

.remember {
  color: #9CA3AF;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.form-check-input {
  background-color: initial;
}

.form-check-input:checked {
  background-color: #8807F7;
  border-color: #8807F7;
}

.separator{
  display:flex;
  align-items: center;
}

.separator .line {
  height: 1px;
  flex: 1;
  background-color: #E6E6E6;
}

.separator h6 {
  padding: 0 10px;
  margin-bottom: 0;
}

.ardilla-btn-outline {
  border-color: #8807F7!important;
  color: #8807F7!important;
  border-radius: 60px;
  font-size: 17px;
  width: 100%;
  line-height: 20px;
  font-weight: 500;
}

.ardilla-btn-outline:hover {
  border-color: #8807F7!important;
  color: #fff!important;
  border-radius: 60px;
  background-color: #8807F7!important;
}

.signup-section {
  margin: 60px 20px;
}

.logo {
  margin-bottom: 80px;
}

.testimonial {
  font-family: 'Clash Display', sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: #4B5563;
}

.author {
  font-family: 'Clash Display', sans-serif;
  font-size: 15px;
  line-height: 19px;
  font-weight: 600;
  color: #3D0072;
}

.user {
  color: #6B7280;
  font-size: 12px;
  line-height: 13px;
  font-weight: 500;
}