.dashboard-header {
  padding: 30px;
  background-color: #fdf3fa;
}

.sidebar {
  margin: 0;
  padding: 45px 40px 40px 60px;
  width: 348px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 19px;
  text-decoration: none;
  color: #3D0072;
  font-size: 14px;
  line-height: 10px;
  font-weight: 400;
  margin-bottom: 4px;
}

div.content {
  margin-left: 380px;
  padding: 27px 28px;
  background-color: #fff;
  height: auto;
  background-image: url('../img/dashboard/bg.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;  
  border-radius: 30px;
  margin-bottom: 90px;
  padding-bottom: 80px!important;
}

@media screen and (max-width: 700px) {
  .sidebar {
    /* width: 100%; */
    height: auto;
    padding: 45px 80px 40px 75px;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}


.icons {
  margin-top: -8px;
}

 
.sidebar a.active {
  background-color: #FFA7C2;
  color: #E7356C;
  border-radius: 10px;
  /* margin-bottom: 4px; */
  /* margin-top: 4px; */
}

.sidebar a:hover:not(.active) {
  background-color: #FFA7C2;
  color: #E7356C;
  border-radius: 10px;
  /* margin-bottom: 5px; */
}

.kodename h2 {
  color: #3D0072;
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
}

.kodename h6 {
  color: #3D0072;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

.roi {
  background: #e6356d;
  padding: 5px!important;
  font-size: 8px;
  color: #fff;
  padding: 6px 10px!important;
  border-radius: 20px;
  font-weight: 600;
}

.san {
  color: #3D0072;
  font-size: 15px;
  font-weight: 600;
  /* line-height: 12px; */
}

.amount {
  color: #3D0072;
  font-size: 20px;
  font-weight: 700;
}

.details span {
  color: #3D0072;
  font-size: 15px;
  font-weight: 400;
}

.inner-card {
  box-shadow: 0px 6px 12px rgba(134, 133, 133, 0.06);
  border-radius: 20px;
}

i.bi.bi-eye-fill {
  color: #3D007280;
}

.add-money {
  margin-top: -40px;
}

.main-dash {
  margin-top: 120px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3D00721C;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #8807f7;
}

/* input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
} */

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.generate {
  color: #8807F7!important;
  font-weight: 600!important;
  font-size: 14px!important;
}

.one {
  padding-bottom: 21px!important;
}

.three {
  padding-bottom: 21px!important;
}

.kyc {
  margin-top: 100px;
}

.kyc h3 {
  font-size: 16px;
  line-height: 14px;
  font-weight: 700;
  color: #3D0072;
}

.second-nav {
  margin-top: 60px;
}

.custom-check {
  color: #3D0072;
  font-size: 11px;
  font-weight: 600;
}

.hash {
  color: #3D00724D!important;
  font-size: 18px!important;
  line-height: 20px!important;
  font-weight: 500!important;
}

@media (min-width: 992px){
  .chartjs {
    margin-top: -90px;
    margin-left: 145px;

  }

}

.roi-cards {
  padding-top: 100px;
}

.cards-roi {
  background-color: #E7E7FF;
  border-radius: 7px;
  padding-top: 50px;
  padding-bottom: 10px;
  cursor: pointer;
  box-shadow: 0px 6px 12px rgba(134, 133, 133, 0.06);
}

.cards-roi span {
  color: #3D0072;
  font-size: 24px;
  line-height: 27px;
  font-weight: 600;
}

.cards-roi h6 {
  color: #8807F7;
  font-size: 13px;
  line-height: 15px;
  font-weight: 600;
}

.cards-roi h5 {
  color: #3D0072;
  font-size: 14px;
  line-height: 15px;
  font-weight: 600;
}

.percentile {
  margin-top: 36px;
}

.insured {
  background-color: #FEF5FC!important;
}

.goals {
  margin-top: 100px;
}

.goals h2 {
  color: #3D0072;
  font-size: 16px;
  line-height: 15px;
  font-weight: 600;
}

.figure-caption {
  color: #3D0072;
  font-size: 14px;
  line-height: 15px;
  font-weight: 600;

}

.goal-card {
  background-color: #FEF5FC;
  border-radius: 7px;
  background-image: url('../img/dashboard/goal.svg');
  background-position: 100%;
  background-repeat: no-repeat;
  background-position-y: bottom ;
  padding-top: 65px;
  padding-bottom: 65px;
  /* background-size: cover;   */
  box-shadow: 0px 6px 12px rgba(134, 133, 133, 0.06);

}

.goal-card h1 {
  color: #3D0072;
  font-size: 26px;
  line-height: 26px;
  font-weight: 600;
}

.goal-card small {
  color: #3D0072;
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
}

.goal-card h6 {
  color: #8807F7;
  font-size: 13px;
  line-height: 15px;
  font-weight: 600;
}

.refer-card {
  background-color: #E7E6FF;
  border-radius: 7px;
  background-image: url('../img/dashboard/earn.svg');
  background-position: 100%;
  background-repeat: no-repeat;
  background-position-y: bottom ;
  padding-top: 65px;
  padding-bottom: 65px;
  /* background-size: cover;   */
  box-shadow: 0px 6px 12px rgba(134, 133, 133, 0.06);

}

.refer-card h1 {
  color: #3D0072;
  font-size: 26px;
  line-height: 26px;
  font-weight: 600;
}

.refer-card small {
  color: #3D0072;
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
}

.refer-card h6 {
  color: #8807F7;
  font-size: 13px;
  line-height: 15px;
  font-weight: 600;
}

.wise {
  background-image: url('../img/dashboard/money-wise.svg')!important;
  background-position: 99%!important;
  background-repeat: no-repeat!important;
  background-position-y: bottom!important;
  padding-top: 40px!important;
  padding-bottom: 40px!important;
}

.support-card {
  margin-top: 100px;
  background-color: #FEF5FC;
  box-shadow: 0px 6px 12px rgba(134, 133, 133, 0.06);
  border-radius: 20px;
  margin-left: 0;
  margin-right: 0;
}

.support-card h6 {
  color: #8807F7;
  font-size: 13px;
  line-height: 15px;
  font-weight: 600;
}

.support-card h4 {
  color: #3D0072;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

.support-img p {
  color: #3D0072;
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
}

.support-img-left {
  margin-left: 100px;
}

.footer-dashboard {
  background-image: url('../img/dashboard/footer-dash.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover; 
  border-radius: 10px;
  padding-top: 65px;
  padding-bottom: 65px;
  margin: 0;
}

.footer-dashboard h2 {
  color: #F6EBFF;
  font-size: 18px;
  font-weight: 600;
  line-height: 34px;
}

.footer-dashboard p {
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
}

.footer-btn {
  border-radius: 30px;
  font-size: 10px
}

.badg {
  border: 1px solid #E6356D;
  padding: 3px 7px;
  border-radius: 30px;
  margin-top: -4px;
  font-size: 9px;
  color: #E6356D!important;
}

.value h6 {
  font-size: 16px;
  color: #000;
  line-height: 16px;
  font-weight: 400;
}

.value p {
  font-size: 12px;
  color: #9CA3AF;
  line-height: 11px;
  font-weight: 400;
}

.value h2 {
  font-size: 24px;
  color: #000;
  line-height: 27px;
  font-weight: 600;
}

.right-portfolio {
  margin-left: 90px;
}

.card-p {
  background: #FBF3FA;
  box-shadow: 0px 4.54635px 9.0927px rgba(134, 133, 133, 0.06);
  border-radius: 20px;
  cursor: pointer;
}

.card-p h5 {
  font-size: 15px;
  color: #3D0072;
  line-height: 12px;
  font-weight: 600;
}

.card-p h6 {
  font-size: 13px;
  color: #3D0072CC;
  line-height: 12px;
  font-weight: 400;
}

.bg-invest {
  background: #8807F712!important;
}

.dillawallet {
  background-color: #FBF3FA;
  box-shadow: 0px 6px 12px rgba(134, 133, 133, 0.06);
  border-radius: 20px;
}

.dilla-section {
  padding: 0px 80px;
}

.dillawallet h2 {
  font-size: 15px;
  color: #3D0072CC;
  line-height: 12px;
  font-weight: 600;
}

.dillawallet p {
  font-size: 23px;
  color: #3D0072CC;
  line-height: 31px;
  font-weight: 700;
}

.dillawallet h6 {
  color: #3D007280;
  line-height: 12px;
  font-weight: 400;
  font-size: 14px;
}

.dilla-eye {
  color: #3D0072!important;
  margin-top: -43px;
}

.stats {
  background: #FFFFFF;
  box-shadow: 0px 8.67834px 17.3567px rgba(102, 29, 165, 0.12);
  border-radius: 17.3567px;
}

.stats h2 {
  color: #9291A5;
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
}

.stats h6 {
  color: #000;
  font-size: 17px;
  font-weight: 700;
  line-height: 19px;
}

.mapping {
  padding: 0px 20px;
}

.mapping h3 {
  color: #9291A5!important;
  font-size: 11px!important;
  font-weight: 500;
  line-height: 12px;
  margin-top: -26px;
}

.mapping p {
  color: #615E83;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}

.chartie {
  height: 510px;
  object-fit: cover;
  object-position: top;
}

.desc {
  color: #3D0072;
  font-weight: 600;
  line-height: 21px;
  font-size: 12px;
}

.cogs {
  margin-top: -27px;
  z-index: 0;
  position: relative;
}

.log-out {
  color: #3D0072;
  font-weight: 700;
  line-height: 21px;
  font-size: 16px;
  text-decoration: none;
}

.log-out:hover {
  color:#E6356D ;
}

.logout {
  margin-top: 90px;
}

.modal-header {
  border-bottom: 0;
}

.modal {
  --bs-modal-zindex: 1055;
  --bs-modal-width: 1000px;
  --bs-modal-border-radius: 0rem;
    
}

.flex-modal {
  --bs-modal-zindex: 1055;
  --bs-modal-width: 500px!important;
  --bs-modal-border-radius: 16px!important;
}

.modal-body {
  padding: 90px 0px;
}

.flex-modal-body {
  padding: 10px 0px 90px 0px!important;
}

.modal-content {
  background-image: url("../img/verifybg.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover; 
}

.total-savings h3 {
  color: #3D0072;
  font-weight: 600;
  line-height: 18px;
  font-size: 16px;
}

.total-savings p {
  color: #3D0072;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
}

.dollar {
  color: #B69FC9;
  font-size: 9px;
  font-weight: 700;
}

.save-eyes {
  color: #3D0072!important;
}

.learn {
  /* margin-top: -40px; */
  color: #4B5563;
  font-size: 12px;
  font-weight: 600;
}

.create-plan {
  margin-top: 90px;
}

.create-plan h4 {
  color: #3D0072;
  font-weight: 600;
  line-height: 16px;
  font-size: 18px;
}

.card-s {
  background-color: #FBF3FA;
  box-shadow: 0px 10px 20px rgba(102, 29, 165, 0.12);
  border-radius: 10px;
  background-image: url('../img/dashboard/bg-flex.svg');
  background-position: 100%;
  background-repeat: no-repeat;
  background-position-y: bottom ;
  padding: 31px;
  padding-bottom: 31px;
}

.family-bg {
  background-image: url('../img/dashboard/family-bg.svg');
}

.bg-target {
  background-color: #F7EEFE!important;
  background-image: url('../img/dashboard/tar.svg');
  background-position: 103%;
  background-repeat: no-repeat;
  background-position-y: bottom ;
  padding: 31px;
  padding-bottom: 31px;
}

.lock-bg {
  background-color: #F7EEFE!important;
  background-image: url('../img/dashboard/safelock-bg.svg');
  background-position: 100%;
  background-repeat: no-repeat;
  background-position-y: bottom ;
  padding: 31px;
  padding-bottom: 31px;
}

.vip-bg {
  background-image: url('../img/dashboard/vip-bg.svg');
}

.card-s h5 {
  color: #3D0072;
  font-weight: 700;
  line-height: 16px;
  font-size: 18px;
}

.card-s h6 {
  color: #3D0072;
  font-weight: 400;
  line-height: 13px;
  font-size: 12px;
}

.savings-btn {
  background-color: #E8356DCC!important;
  border-color: #E8356DCC!important;
  border-radius: 60px;
  color: #fff!important;
  font-size: 13px!important;
  font-weight: 500;
  line-height: 20px;
}

.savings-btn:hover {
  background-color: #5f0aaa!important;
  border-color: #5f0aaa!important;
  border-radius: 60px;
  color: #fff!important;
  font-size: 13px!important;
  font-weight: 500;
  line-height: 20px;
}

.pc {
  margin-top: -41px;
  margin-right: -25px!important;
}

.flex-section {
  margin-bottom: 40px;
}

.history-card h3 {
  color: #3D0072;
  font-weight: 600;
  line-height: 24px;
  font-size: 22px;
}

.history-card p {
  color: #4B5563;
  font-weight: 400;
  line-height: 10px;
  font-size: 10px;
}

.history-card h6 {
  color: #3D0072;
  font-weight: 600;
  line-height: 17px;
  font-size: 14px;
}

.history-card {
  background: #FBF3FA;
  padding: 40px 50px;
  border-radius: 10px;
  margin-bottom: 35px;
}

.nth-history {
  background-color: #F7EEFE!important;
}

.bg-stat {
  background-color: #fff!important;
  box-shadow: 0px 5.86629px 11.7326px rgba(134, 133, 133, 0.06);
  border-radius: 19.5543px;
}

.nth-history p {
  color: #E8356D;
  font-weight: 600;
}

.nth-history span {
  color: #3D0072;
  font-weight: 600;
  font-size: 12px;
}

.view {
  margin-top: -23px;
  color: #4B5563!important;
}

.left-number {
  margin-top: -40px;
  color: #70D441;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}

.debit {
  color: #DC263B!important;
}

.bg-stat h4 {
  color: #3D0072;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
}


.mapping-save {
  padding: 0px 60px!important;
}

.footer-card {
  color: #3D0072;
  font-size: 14px;
  line-height: 15px;
  font-weight: 500;
}

.flex-plan {
  padding-top: 90px!important;
  padding-bottom: 90px!important;
}

.flex-plan h2 {
  color: #3D0072;
  font-size: 50px;
  line-height: 57px;
  font-weight: 700;
}

.flex-plan h6 {
  color: #3D0072;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.ques {
  margin-top: -58px;
  margin-left: -20px;
  width: 50px;
}

.flex-modal-body h6 {
  color: #3D0072;
  font-size: 30px;
  line-height: 34px;
  font-weight: 700;
}

.flex-modal-body p {
  color: #3D0072;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.earning h2 {
  color: #3C0071;
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
}

.earns h3 {
  color: #3C0071;
  font-size: 50px;
  line-height: 57px;
  font-weight: 800;
}

.earns p {
  color: #9CA3AF;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.earns {
  margin-top: 90px;
}

.btn-flex {
  background: #F9FAFB;
  border-radius: 50px;
  padding: 15px 62px;
  color: #3C0071;
}

.earning-section {
  padding-top: 60px!important;
  padding-left: 80px!important;
  padding-right: 80px!important;
}

.step-one::before {
  /* bottom: 0px; */
  content: url("../img/dashboard/step-one.svg");
  position: absolute;
  left: 411px;
}

.step-two::before {
  /* bottom: 0px; */
  content: url("../img/dashboard/step-two.svg");
  position: absolute;
  left: 411px;
}

.step-three::before {
  /* bottom: 0px; */
  content: url("../img/dashboard/step-three.svg");
  position: absolute;
  left: 411px;
}

.step-four::before {
  /* bottom: 0px; */
  content: url("../img/dashboard/set-amount.svg");
  position: absolute;
  left: 411px;
}

.step-five::before {
  /* bottom: 0px; */
  content: url("../img/dashboard/set-save.svg");
  position: absolute;
  left: 411px;
}

.step-six::before {
  /* bottom: 0px; */
  content: url("../img/dashboard/set-duration.svg");
  position: absolute;
  left: 411px;
}

.step-final::before {
  /* bottom: 0px; */
  content: url("../img/dashboard/final.svg");
  position: absolute;
  left: 411px;
}




.flex-type h2 {
  color: #3C0071;
  font-size: 50px;
  line-height: 57px;
  font-weight: 800;
}

.flex-type p {
  color: #9CA3AF;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.cadet h3 {
  color: #3C0071;
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
}

.automated {
  background: #F6EBFE;
  border-radius: 15px;
  /* background-image: url("../img/dashboard/stripe.svg"); */
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover; 
  /* padding-bottom: 130px!important; */
}

.automated h4 {
  color: #8807F7;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}

.automated span {
  color: #8807F7;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
}

.automated h6 {
  color: #3C0071;
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
}

.automated p {
  color: #3C0071;
  font-size: 10px;
  line-height: 11px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 40px;
}

.automated-btn {
  font-size: 13px!important;
}

.customed h4 {
  color: #E8356D!important;
}

.custom-btn {
  font-size: 13px!important;
  background-color: #E8356D!important;
  border-color: #E8356D!important;
}

.values h5 {
  color: #3C0071;
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  margin-bottom: 20px;
}

.customed {
  background-color: #FDEDF2!important;
}

.target-form {
  background: #F9FAFB;
  border: 0;
  padding: 15px;
}

.target-m {
  margin-bottom: 200px;
}

.backto a {
  text-decoration: none;
  color: #9CA3AF;
  font-size: 16px;
  font-weight: 500;
}

.enter-amount {
  border-radius: 50px ;
}

.enter-amount::placeholder {
  color: #3D0072;
  font-weight: 400;
  text-align: center;
}

.dashboard-t h2 {
  color: #3C0071;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.dashboard-t p {
  color: #9CA3AF;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.int {
  background-color: #F9F9F9;
  border-radius: 10px;
  padding-top: 38px;
  padding-bottom: 38px
}

.earn-c {
  background-color: #FFFBF0;
  border-radius: 10px;
  padding-top: 38px;
  padding-bottom: 38px
}

.spend-c {
  background-color: #FDF1F5;
  border-radius: 10px;
  padding-top: 38px;
  padding-bottom: 38px
}


.save-c {
  background-color: #F8F0FF;
  border-radius: 10px;
  padding-top: 38px;
  padding-bottom: 38px
}

.int p {
  color: #3C0071;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 11px;
}

.int h3 {
  color: #3C0071;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}

.earn-c p {
  color: #DB9E00;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 11px;
}

.earn-c h3 {
  color: #DB9E00;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}

.spend-c p {
  color: #E8356D;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 11px;
}

.spend-c h3 {
  color: #E8356D;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}

.save-c p {
  color: #8807F7;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 11px;
}

.save-c h3 {
  color: #8807F7;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}

.breakdown {
  background-color: #F9F9F9;
  border-radius: 10px;
}

.breakdown h6 {
  color: #3C0071;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.table-dark {
  --bs-table-color: #9CA3AF!important;
  --bs-table-bg: #F5F5F5;
  --bs-table-border-color: #F5F5F5;
  --bs-table-striped-bg: #F5F5F5;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #F5F5F5;
  --bs-table-active-color: #9CA3AF;
  --bs-table-hover-bg: #F5F5F5;
  --bs-table-hover-color: #9CA3AF;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
  /* font-size: 10px; */
  /* font-weight: 600; */
}

.table>:not(caption)>*>* {
  padding: 1.5rem 1.5rem;
  color: #3C0071;
  font-size: 13px;
  font-weight: 600;
  line-height: 14px;
}

.headtable {
  color: #9CA3AF!important;
}

.statuses {
  background-color: #FAD1DE;
  padding: 7px 10px;
  border-radius: 30px;
  color: #E8356D;
}

.right-table {
  padding-right: 52px;
}

.left-table {
  padding: 60px 10px;
}

.saving-top {
  margin-bottom: 150px;
}

.overview {
  margin-top: 150px;
}

.overview h2 { 
  color: #3C0071;
  font-size: 52px;
  line-height: 70px;
  font-weight: 700;
}

.overview h4 { 
  color: #3D007280;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
}

.overview-left h3 {
  color: #9E7FB7;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
}

.overview-left p {
  color: #3C0071;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 0;
}

.overview-left a {
  text-decoration: none;
}

.overview-perc {
  color: #0D9488!important;
}

.t-card {
  box-shadow: 0px 12px 24px rgba(115, 107, 122, 0.15);
  border-radius: 10px;
}

.t-card h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  color: #3D0072;
}

.minus-bg {
  background-color: #F7F7F7;
  /* margin-right: 10px; */
}

.input-number {
  background: #F9F9F9;
  border: 0;
}

.charges {
  color: #6B7280;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.title-card h3 {
  color: #3C0071;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}

.bg-ussd {
  background-color: #F7F7F7!important;
  border: 0px;
  color: #3D0072;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 20px;
}

.bg-ussd:hover {
  background-color: #F7F7F7!important;
  border: 0px;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 20px;
}

.transfer-amt {
  color: #3C0071;
  font-size: 24px;
  line-height: 27px;
  font-weight: 700;
}

.detail-transfer p {
  color: #9CA3AF;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 0;
  font-weight: 500;
}

.detail-transfer h5 {
  color: #3C0071;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 0;
  font-weight: 700;
}

.payment-success h2 {
  color: #0D9488;
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 0;
  font-weight: 700;
}

.payment-success p {
  color: #3C0071;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 0;
  font-weight: 500;
}

.search-box{
  width: 100%;
  position: relative;
  display: flex;

}

.search-input{
  width: 100%;
  padding: 20px;
  border: 0;
  border-radius: 10px 0 0 10px ;
  border-right: none;
  outline: none;
  font-size: 20px;
  color: #3C0071;
  background: #F9FAFB;
}

.search-button{
  text-align: center;
  height: 70px;
  width: 90px;
  outline: none;
  cursor: pointer;
  border: 0;
  border-radius: 0 10px 10px 0 ;
  border-left: none;
  background: #F9FAFB;
  font-size: 20px;
  border-left: 1px solid #F9FAFB;
}

.target-link h3 {
  color: #3D0072;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.copylink {
  background: #F9FAFB;
  margin-top: 60px;
  color: #9B7DB6;
  border-radius: 10px;
}

.create-p {
  color: #8807F7!important;
}

.amt-left {
  margin-right: 40px;
}

.dilla-right h4 {
  font-size: 40px;
  line-height: 45px;
  font-weight: 700;
  color: #3C0071;
}

.dilla-right h6 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
  color: #3C0071;
}

.dilla-right h5 {
  color: #3D007280;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
}

.outline-btn {
  background: transparent!important;
  color: #8807f7!important;
}

.recent-transaction h3 {
  color: #3C0071;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  display: none;
}

.owl-theme .owl-nav {
  text-align: end;
  -webkit-tap-highlight-color: transparent;
}

.owl-carousel .owl-item img {
  display: block;
  width: 89%;
}

.friends p {
  color: #3C0071;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  margin-top: 10px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent;
  color: #8807f7;
  text-decoration: none;
}

button.owl-prev, .owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0!important;
  font: inherit;
  font-size: 34px;
}

.owl-theme .owl-nav {
  margin-top: -177px;
  z-index: 0;
  position: relative;
}

.dilla-transaction {
  background: #F9F9F9;
  border-radius: 10px;
  padding-bottom: 150px!important;
}

.dilla-transaction h3 {
  color: #3C0071;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}

.dilla-transaction h4 {
  color: #6B7280;
  font-size: 10px;
  font-weight: 600;
  line-height: 11px;
  margin-top: -20px;
}

.dilla-transaction h5 {
  color: #9CA3AF;
  font-size: 12px;
  font-weight: 500;
  line-height: 13px;
}

.dilla-transaction h6 {
  color: #3C0071;
  font-size: 12px;
  font-weight: 600;
  line-height: 13px;
  margin-top: 10px;
}

.requests h3 {
  color: #3C0071;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}

.nav-pills a {
  color: #9CA3AF;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

.nav-pills a:hover {
  border-bottom: 3px solid #3D0072;
  color: #3C0071;
}

.dilla-link a.active {
  border-bottom: 3px solid #3D0072!important;
}

.date {
  color: #9CA3AF;
  font-weight: 500;
  font-size: 11px;
}

.pending p {
  margin-bottom: 0;
  color: #9CA3AF;
  font-size: 10px;
  font-weight: 500;
}

.pending h5 {
  color: #3C0071;
  font-size: 10px;
  font-weight: 600;
}

.dilla-btn {
  font-size: 10px;
  border-radius: 50px;
  background-color: #8807f7;
  border: 1px solid #8807f7;
  padding-left: 10px!important;
  padding-right: 10px!important;
}

.dilla-btn-outline {
  font-size: 10px;
  border-radius: 50px;
  color: #E8356D;
  background-color: transparent;
  border: 1px solid #E8356D;
}

.right-dialog {
  position: fixed;
  margin: auto;
  width: 450px;
  height: 100%;
  right: 0px;
  /* top: 50px; */
}

.right-content {
  height: 100%!important;
  border-radius: 0px!important;
}

.initiate-modal h2 {
  /* margin-bottom: 20; */
  color: #3D0072;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.hist h2 {
  color: #9CA3AF;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.hist h5 {
  color: #9CA3AF;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
}

.initiate-modal p {
  color: #9CA3AF;
  font-size: 13px;
  font-weight: 700;
  line-height: 14px;
}

.initiate-modal h3 {
  color: #9CA3AF;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}

.d-btn {
  background-color: #FAF5FF!important;
  border-color: #FAF5FF!important;
  border-radius: 60px;
  color: #8807F7!important;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
}

.btn-down {
  margin-top: 110px;
}

.sent-details h3 {
  color: #3D0072;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.sent-details p {
  color: #9CA3AF;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.sent-btn {
  font-size: 10px;
  border-radius: 50px;
  background-color: #E5E7EB!important;
  border: 1px solid #E5E7EB!important;
  color: #6B7280!important;
}

.success-btn {
  font-size: 10px;
  border-radius: 50px;
  background-color: #22C55E!important;
  border: 1px solid #22C55E!important;
  color: #fff!important;
}

.danger-btn {
  font-size: 10px;
  border-radius: 50px;
  background-color: #E8356D!important;
  border: 1px solid #E8356D!important;
  color: #fff!important;
}

.ots-success h4 {
  color: #0D9488;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
}

.decline-card {
  background-color: #FEF6F8;
  border-radius: 30px;
  
}

.decline-card h2 {
  color: #E8356D;
  margin-bottom: 0;
}

.btn-f6 {
  font-size: 14px!important;
  padding-left: 50px!important;
  padding-right: 67px!important;
}