.banner {
  margin: 240px 10px 70px 10px;
}

.banner h2 {
  font-size: 70px;
  line-height: 80px;
  font-weight: 700;
  color: #3D0072;
  font-family: Ubuntu-Bold;
}

.banner h3 {
  font-size: 50px;
  line-height: 70px;
  font-weight: 700;
  color: #3D0072;
}

.banner h6 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #3D0072;
}

.second-layer {
  padding: 90px 0px;
}

.badge {
  background-color: #E8CEFF;
  color: #3D0072;
  font-size: 15px;
  font-weight: 500;
  border-radius: 40px;
  padding: 16px 90px!important;
}

@media (min-width: 992px){
  .alignment {
    margin-top: 100px;
  }
}

h5 a {
  color: #2335DA;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
}

.features-product {
  padding-bottom: 100px;
}

.features-product h2 {
  color: #3D0072;
  font-size: 55px;
  line-height: 64px;
  font-weight: 700;
}

.features-product h3 {
  color: #3D0072;
  font-size: 32px;
  line-height: 37px;
  font-weight: 700;
}

.features-product h6 {
  color: #3D0072;
  font-size: 13px;
  line-height: 17px;
  font-weight: 500;
}

.features-product p {
  color: #3D0072;
  font-size: 15px;
  line-height: 17px;
  font-weight: 500;
}

.check {
  color: #E6366E;
}

.build-saving h2 {
  color: #3D0072;
  font-size: 55px;
  line-height: 64px;
  font-weight: 700;
}

.build-saving h6 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #3D0072;
}

.card-frame {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 10px;
  cursor: pointer;
}

.card-frame:hover {
  background-color: #e6346d;
  padding: 40px 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.card-frame:hover p {
  color: #fff;
}
.card-frame:hover small {
  color: #fff;
}

.card-frame:hover h3 {
  color: #fff;
}

.card-frame h3 {
  color: #3D0072;
  font-weight: 700;
  font-size: 19px;
  line-height: 22px;
}

.card-frame p {
  color: #3D0072;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.card-frame small {
  color: #E7356C;
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
}


.nav-badge {
  border: 1px solid #3D0072;
  padding: 1px 10px;
  font-size: 10px;
  line-height: 11px;
  font-weight: 400;
  border-radius: 4px;
}

@media (min-width: 992px){
  .globe {
    margin-top: -7px;
  }
}


.videos {
  padding-top: 100px;
}

.videos h2 {
  color: #3D0072;
  font-size: 55px;
  line-height: 64px;
  font-weight: 700;
}

.videos h6 {
  color: #3D0072;
  font-size: 13px;
  line-height: 17px;
  font-weight: 500;
}