.banner {
  padding: 300px 0px 250px 0px;
  background-image: url('../img/herobg.svg');
  /* background-position: 50%; */
  background-repeat: no-repeat;
  background-size: cover;
}

.banner h2 {
  font-size: 85px;
  line-height: 97px;
  font-weight: 700;
  color: #3D0072;
  font-family: Ubuntu-Bold;
}

.banner h3 {
  font-size: 50px;
  line-height: 70px;
  font-weight: 700;
  color: #3D0072;
}

.banner h6 {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #3D0072;
}

.second-layer {
  padding: 90px 0px;
}

.badge {
  background-color: #E8CEFF;
  color: #8807F7;
  font-size: 15px;
  font-weight: 500;
  border-radius: 40px;
  padding: 16px 90px!important;
}

@media (min-width: 992px){
  .alignment {
    margin-top: 100px;
  }
}

h5 a {
  color: #2335DA;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
}

.features-product {
  padding: 150px 20px;
  background-image: url('../img/bgproduct.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.features-product h2 {
  color: #3D0072;
  font-size: 75px;
  line-height: 91px;
  font-weight: 700;
  font-family: Ubuntu-Bold;
}

.features-product h3 {
  color: #E8356D;
  font-size: 50px;
  line-height: 57px;
  font-weight: 700;
  font-family: Ubuntu-Bold;
}

.features-product h6 {
  color: #3D0072;
  font-size: 18px;
  line-height: 40px;
  font-weight: 500;
}

.features-product h5 {
  color: #3D0072;
  font-size: 15px;
  line-height: 17px;
  font-weight: 500;
}

.features-product p {
  color: #9CA3AF;
  font-size: 15px;
  line-height: 30px;
  font-weight: 500;
}

.check {
  color: #E6366E;
}

.build-saving {
  padding: 150px 20px 150px 20px;
  background-image: url('../img/keen.svg');
  background-position: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 992px){
  .build-saving h2 {
    color: #3D0072;
    font-size: 80px;
    line-height: 120px;
    font-weight: 700;
    font-family: Ubuntu-Bold;

  }
}

@media (max-width: 767.98px){
  .build-saving h2 {
    color: #3D0072;
    font-size: 45px;
    line-height: 60px;
    font-weight: 700;
    font-family: Ubuntu-Bold;

  }
}

.build-saving h6 {
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  color: #3D0072;
}

@media (max-width: 767.98px){
  .card-frame {
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0px 25px;
  }
  .card-frame:hover {
    background-color: #e6346d;
    padding: 40px 30px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0px 25px;
    transition: 0.3s;
  }
}

@media (min-width: 992px){
  .card-frame:hover {
    background-color: #e6346d;
    padding: 40px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
  }
  .card-frame {
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 10px;
    cursor: pointer;
  }
  
}

.card-frame:hover p {
  color: #fff;
}
.card-frame:hover small {
  color: #fff;
}

.card-frame:hover h3 {
  color: #fff;
}

.card-frame h3 {
  color: #3D0072;
  font-weight: 700;
  font-size: 19px;
  line-height: 22px;
}

.card-frame p {
  color: #3D0072;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.card-frame small {
  color: #E7356C;
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
}


.nav-badge {
  border: 1px solid #3D0072;
  padding: 1px 10px;
  font-size: 10px;
  line-height: 11px;
  font-weight: 400;
  border-radius: 4px;
}

@media (min-width: 992px){
  .globe {
    margin-top: -2px;
  }
}

.top-access {
  margin-top: 190px;
}

.videos {
  padding: 150px 20px;
  background-color: #F3F4F6;
}

.videos h1 {
  color: #3C0071;
  font-size: 26px;
  line-height: 31px;
  font-weight: 500;
  font-family: Ubuntu-Bold;
}

.videos p {
  color: #9CA3AF;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  /* font-family: Ubuntu-Bold; */
}

.videos h2 {
  color: #0D9488;
  font-size: 85px;
  line-height: 100px;
  font-weight: 700;
  font-family: Ubuntu-Bold;
}

.videos h5 {
  color: #3D0072;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

.videos a {
  color: #8807F7;
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
}

.video-item {
  height: 524px;
  object-fit: cover;
  object-position: top;
}

.logo-house {
  padding: 90px 0px;
}

.press {
  margin-top: 25px;
}

.web {
  padding-bottom: 100px;
}

@media (min-width: 992px){
  .webapp {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 40px 237px 40px;
    background-image: url("../img/webapp.svg");
    border-radius: 30px;
    box-shadow: 0px 12px 24px rgb(10 7 12 / 15%);
  }
}

@media (max-width: 767.98px){
  .webapp {
    background-position: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 40px 237px 40px;
    background-image: url("../img/webapp.svg");
    border-radius: 30px;
    box-shadow: 0px 12px 24px rgb(10 7 12 / 15%);
  }
}

.webapp h4 {
  font-size: 35px;
  line-height: 40px;
  font-weight: 700;
  color: #3D0072;
}

.webapp p {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #3D0072;
}

.testimonies h3 {
  color: #3D0072;
  font-size: 36px;
  line-height: 41px;
  font-weight: 700;
  font-family: Ubuntu-Bold;
}

.testimonies {
  padding-bottom: 90px;
}

.testimonies p {
  color: #3D0072;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
}

@media (min-width: 992px){
  .right-contact {
    padding-top: 106px;
    padding-right: 111px;
  }
}

.footer-top {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 50px 0px 50px;
  background-image: url("../img/bg-footer.svg");
  border-radius: 30px;
  margin: 0px;
}

.footer-top h2 {
  color: #fff;
  font-size: 37px;
  line-height: 42px;
  font-weight: 700;
  font-family: Ubuntu-Bold;
}

.download {
  background: #5B00AB!important;
  border-color: #5B00AB!important;
  color: #fff!important;
}

.download-btn {
  background: #fff!important;
  color: #3C0071!important;
  font-size: 13px;
  font-weight: 700;
  padding: 14px 20px;
  border-color: #fff!important;
}

.download-btn:hover {
  background: #000!important;
  color: #fff!important;
  font-size: 13px;
  font-weight: 700;
  padding: 14px 20px;
  border-color: #000!important;
}

.footer-bottom {
  background: #8807F7;
  padding: 270px 20px 60px 20px;
  margin-top: -240px;
}

.footer-bottom p {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.footer-bottom h4 {
  font-size: 13px;
  color: #fff;
  /* line-height: 32px; */
  font-weight: 700;
  margin-bottom: 34px;
}

.list-unstyled {
  padding-left: 0;
}

.footer-bottom .links li {
  display: block;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 32px;
  text-decoration: none;
}

.bottom-line {
  padding-bottom: 60px;
  border-bottom: 1px solid #D1D5DB;
}

.copyright {
  padding: 25px 0px;
}

.copyright h6 {
  /* font-family: 'Sofia-Pro'; */
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
}

.download::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

@media only screen and (min-width: 768px){
  .dropdown-large {
    min-width: 600px!important;
    border: 1px solid #fff;
    /* border-radius: 20px; */
    background-image: url('../img/drop-bg.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30px;
    padding: 0px;
    margin-top: 15px!important;
  }
}

@media only screen and (min-width: 768px){
  .dropdown-single {
    min-width: 300px!important;
    border: 1px solid #fff;
    border-radius: 20px;
    background-image: url('../img/drop-bg.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30px;
    padding: 20px 20px;
    margin-top: 15px!important;

  }
}

@media only screen and (min-width: 768px){
  .dropdown-globe {
    min-width: 320px!important;
    border: 1px solid #fff;
    border-radius: 20px;
    background-image: url('../img/drop-bg.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -100px;
    padding: 20px 20px;
    margin-top: -7px!important;
  }
}

@media (max-width: 767.98px){
  .dropdown-large {
    min-width: 309px!important;
    margin-left: -33px;
  }
}

.header h6 {
  color: #6B7280;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  margin-top: 4px;
}

.header h2 {
  color: #3D0072;
  font-size: 14px;
  /* line-height: 9px; */
  font-weight: 700;
  margin-bottom: 0px;

}

.header a {
  text-decoration: none;
}

.header h2:hover {
  color: #e6346d;
}

.header h2:active {
  color: #e6346d;
}

.header h4 {
  color: #6B7280;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
}

.screen-darken{
  content: ''; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
    z-index:10; opacity:1; 
  visibility:visible;
  position: fixed;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.top-products {
  margin-top: 90px;
}

.top-product {
  margin-top: 200px;
  padding: 0px;
}

.words-section {
  padding: 200px 20px;
}

.words-section h2 {
  color: #3D0072;
  font-size: 85px;
  line-height: 100px;
  font-weight: 700;
  font-family: Ubuntu-Bold;
}

.words-section h6 {
  color: #3D0072;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.bg-save {
  background-color: #f9f9f9!important;
}

.hero-save {
  padding: 200px 10px 250px 10px;
}

.hero-save h2 {
  font-size: 85px;
  line-height: 97px;
  font-weight: 700;
  color: #3D0072;
  font-family: Ubuntu-Bold;
}

.hero-save h6 {
  font-size: 15px;
  line-height: 30px;
  font-weight: 500;
  color: #3D0072;
}

.hero-save p {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  color: #9CA3AF;
}

.our-save {
  background-image: url('../img/bg-plan.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0px;
}

.our-save h2 {
  font-size: 80px;
  line-height: 91px;
  font-weight: 700;
  color: #3D0072;
  font-family: Ubuntu-Bold;
}

.our-save h6 {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #3D0072;
}

@media (min-width: 992px){
  .bg-dib {
    background-image: url('../img/bg-dib.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 200px 120px 100px;
  }

  .bg-drims {
    background-image: url('../img/drims.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 200px 120px 100px;

  }

  .bg-vault {
    background-image: url('../img/vault-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 200px 120px 100px;

  }
}


@media (max-width: 767.98px){
  .bg-dib {
    background-image: url('../img/bg-dib.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
  }

  .bg-drims {
    background-image: url('../img/drims.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
  }

  .bg-vault {
    background-image: url('../img/vault-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
  }
}

.bg-dib h3 {
  color: #3D0072;
  font-weight: 700;
  font-size: 70px;
  line-height: 70px;
}

.bg-dib h5 {
  color: #3D0072;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}

.bg-dib p {
  color: #3D0072;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.bg-drims h3 {
  color: #fff;
  font-weight: 700;
  font-size: 70px;
  line-height: 70px;
}

.bg-drims h5 {
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}

.bg-drims p {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.bg-vault h3 {
  color: #fff;
  font-weight: 700;
  font-size: 70px;
  line-height: 70px;
}

.bg-vault h5 {
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}

.bg-vault p {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.calc {
  background-image: url('../img/calc-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.calc h2 {
  color: #fff;
  font-weight: 500;
  font-size: 80px;
  line-height: 90px;
}

.int-form {
  width: 60%;
}

.int-select {
  background-color: transparent;
  padding: 20px;
  margin-top: 20px;
  color: #9CA3AF;
}

.int-control {
  background-color: transparent;
  padding: 20px;
  margin-top: 20px;
  color: #9CA3AF;
  border-radius: 0px;
  border-bottom: 1px solid #fff;
  border-top: none;
  border-left: none;
  border-right: none;
}

.int-label {
  color: #9CA3AF;
  font-size: 18px;
  font-weight: 500;
  font-family: Ubuntu-Regular;
}

.int-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
  font-size: 25px;
  font-weight: 600;
}

.circle {
  padding: 100px 20px;
  background-color: #E2E2E2;
}

.halal {
  padding: 100px 0px 200px 0px;
  background-color: #fff;
}

.circle h2 {
  font-size: 80px;
  line-height: 110px;
  font-weight: 700;
  color: #3D0072;
  font-family: Ubuntu-Bold;
}

.halal h2 {
  font-size: 80px;
  line-height: 110px;
  font-weight: 700;
  color: #3D0072;
  font-family: Ubuntu-Bold;
}

.bg-halal {
  background-image: url("../img/muslim.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 250px 50px;
}

.bg-halal-right {
  background-color: #fff;
  padding: 250px 60px;
}

.bg-halal-right h6 {
  font-size: 24px;
  line-height: 45px;
  font-weight: 400;
  color: #3D0072;
  text-align: center;
}

.bg-savemonth {
  background-color: #8807F7;
  padding: 250px 70px;
}

.bg-savemonth-right {
  background-image: url("../img/savemonth.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-savemonth h2 {
  font-size: 48px;
  line-height: 45px;
  font-weight: 700;
  color: #fff;
}

.bg-savemonth h6 {
  font-size: 18px;
  line-height: 38px;
  font-weight: 500;
  color: #fff;
}

.savemonth {
  padding-bottom: 150px;
  background-color: #fff;
}

.dilla-text h2 {
  font-size: 80px;
  line-height: 110px;
  font-weight: 700;
  color: #3D0072;
  font-family: Ubuntu-Bold;
}

.dilla-text h6 {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #3D0072;
}

.sendmoney {
  padding: 100px 0px 0px 0px;
  background-image: url("../img/sendbg.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.req {
  padding: 100px 0px 0px 0px;
  background-image: url("../img/req.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 200px;
}

.receivemoney {
  padding: 100px 0px 0px 0px;
  background-color: #F5F5F5;
}

.bg-list {
  border: 1px solid #E6356D;
  padding: 1px 6px 0px 6px;
  font-size: 8px;
  border-radius: 30px;
  color: #E6356D;
  font-weight: 400;
  /* margin-top: 5px; */
}

.bg-savers {
  background-color: #E5E7EB;
  /* border-radius: 20px; */
}

.learn-more {
  background-image: url('../img/learnhero.svg')!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  padding: 200px 0px!important;
}

.readblog{
  background-color: #F5F5F5;
  padding: 100px 10px;
}

.meetteam {
  background-color: #fff;
  padding: 100px 10px;
}

.watchvid {
  background-color: #F5F5F5;
  padding: 100px 10px;
  background-image: url('../img/watchvideos.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.startquiz {
  background-color: #F5F5F5;
  padding: 100px 10px 0px 10px;
}

.leader-board {
  background-color: #fff;
  padding: 100px 20px;
}

.abouthero {
  background-color: #f9f9f9;
  padding: 200px 20px;
}

.bg-about {
  background-image: url("../img/bg-abt.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 60px;
  background-position: center;
  border-radius: 30px;
}


.bg-about h4 {
  font-size: 48px;
  font-weight: 700;
  line-height: 70px;
  color: #00DF9A;
}

.bg-about h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
}

.bg-about p {
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
}

.obj-bg {
  background-color: #F3F4F6;
  border-radius: 16px;
  padding: 40px 40px 0px 40px;
}

.obj-bg h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 55px;
  color: #3C0071;
}

.obj-bg p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #3C0071;
}

.img-tops {
  margin-top: 70px;
}

.img-top {
  margin-top: 64px;
}

.img-to {
  margin-top: 32px;
}

.insurance {
  background-image: url("../img/insurance-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 60px;
  background-position: center;
}

.insurance p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.meetteam h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  color: #3C0071;
}

.meetteam p {
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
  color: #3C0071;
}

.downloading {
  padding: 150px 20px;
  background-image: url("../img/download.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 992px){
  .learn-top{
    padding-top: 150px;
  }
}

.learnearn {
  padding: 100px 10px;
  background-image: url("../img/learnearn.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-privacy {
  background-color: #ea487b!important;
}

.breadcrumb {
  padding: 250px 10px;
  background-image: url("../img/breadcrumb.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.breadcrumb h2 {
  font-size: 60px;
  font-weight: 700;
  line-height: 68px;
}

.breadcrumb h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.contentterms{
  padding: 100px 10px;
}

.contentterms h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
  color: #3D0072;
}

.contentterms p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #6B7280;
}

.footer-bottom a {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 32px;
}