.learn-back {
  color: #9CA3AF;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.learn-main h2 {
  color: #3D0072;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
}

.btn-learn {
  border-color: #9CA3AF;
  color: #9CA3AF;
  border-radius: 28px;
  padding: 11px 35px;
  font-size: 12px;
  font-weight: 500;
}

.btn-right {
  border-color: #8807F7;
  color: #8807F7;
  border-radius: 28px;
  padding: 11px 35px;
  font-size: 12px;
  font-weight: 500;
}


.btn-learn:hover {
  color: #3D0072;
  border-color: #9CA3AF;
  background: #9CA3AF;
  border-radius: 28px;
  padding: 11px 35px;
  font-size: 12px;
  font-weight: 500;
}

.search-learn {
  width: 100%;
  padding: 20px;
  border: 0;
  border-radius: 40px 0 0 40px;
  border-right: none;
  outline: none;
  font-size: 20px;
  color: #3C0071;
  background: #F3F4F6;
}

.search-button-learn {
  text-align: center;
  height: 70px;
  width: 90px;
  outline: none;
  cursor: pointer;
  border: 0;
  border-radius: 0 40px 40px 0;
  border-left: none;
  background: #F3F4F6;
  font-size: 20px;
  border-left: 1px solid #F3F4F6;
}

.right-learn h4 {
  color: #fff;
  font-size: 15px;
  line-height: 14px;
  font-weight: 600;
}

.right-learn h4:hover {
  color: #3D0072;
  font-size: 15px;
  line-height: 14px;
  font-weight: 600;
}

.right-learn {
  padding-right: 90px;
}

.learn-title {
  color: #9CA3AF;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}

.video-react .video-react-big-play-button.video-react-big-play-button-center {
  top: 50%;
  left: 50%;
  margin-top: -0.75em;
  margin-left: -31px;
}
.video-react .video-react-big-play-button {
  font-size: 3em;
  line-height: 2em;
  height: 2em;
  width: 2em;
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  border: 0.06666em solid #fff;
  background-color: #2B333F;
  background-color: rgba(43, 51, 63, 0.7);
  border-radius: 40px;
  transition: all 0.4s;
}

.video-react .video-react-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px!important;
}

.video-react.video-react-fluid, .video-react.video-react-16-9, .video-react.video-react-4-3 {
  width: 100%;
  max-width: 100%;
  height: 0;
  border-radius: 20px;
}

.articles h6 {
  color: #9D9D9D;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}

.articles h3 {
  color: #3D0072;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

.articles p {
  color: #9CA3AF;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.read-btn {
  font-size: 10px!important;
  font-weight: 600!important;
}