.profile-main h2 {
  color: #3C0071;
  font-size: 40px;
  font-weight: 700;
  line-height: 45px;
}

.profile-main h6 {
  color: #D1D5DB;
  font-size: 12px;
  font-weight: 500;
  line-height: 13px;
}

.btn-profile {
  border-color: #6B7280;
  color: #6B7280;
  border-radius: 28px;
  padding: 13px 48px;
  font-size: 12px;
  font-weight: 600;
  width: 50%;
  text-align: left;
}

.btn-profile:hover {
  border-color: #8807F7;
  color: #8807F7;
  border-radius: 28px;
  padding: 13px 48px;
  font-size: 12px;
  font-weight: 600;
  width: 50%;
  text-align: left;
}

.right-profile {
  margin-top: -110px;
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  /* text-align: justify; */
}

.right-profile h5 {
  color: #9CA3AF;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.right-profile p {
  color: #3D007280;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}

.right-profile h3 {
  color: #3C0071;
  font-size: 27px;
  font-weight: 600;
  line-height: 30px;
}

.p-form {
  color: #3D0072;
  font-weight: 600;
  /* margin-left: -13px; */
  padding: 10px!important;
  background-color: #F9FAFB;
  border-color: #F9FAFB;
}

.p-select {
  background: #F9FAFB;
  border-color: #F9FAFB;
  color: #3C0071;
  /* margin-left: -13px; */
  font-weight: 600;
}

.p-form::placeholder{
  color: #3D007280;
  font-size: 13px;
  font-weight: 600;
}

.btn-profile.active {
  color: #8807f7;
}

.right-profile span {
  color: #9CA3AF;
  font-size: 10px;
  font-weight: 500;
  line-height: 11px;
}

.reset-p {
  color: #6B7280!important;
  font-size: 10px!important;
  font-weight: 500!important;
  line-height: 11px!important;
}

.care-card {
  background-color: #F5F5F5;
  border-radius: 10px;
}

.care-card h6 {
  font-size: 16px;
  line-height: 18px;
  color: #3C0071;
  font-weight: 600;
}

.care-card h3 {
  font-size: 16px;
  line-height: 18px;
  color: #3C0071;
  font-weight: 500;
}

.care-card p {
  font-size: 9px;
  line-height: 10px;
  color: #6B7280;
  font-weight: 400;
}

.right-profile h5{
  color: #6B7280;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.refer h6 {
  color: #6B7280;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.refer h3{
  color: #3C0071;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.refer span {
  color: #3C0071;
  font-size: 40px;
  line-height: 45px;
  font-weight: 700;
}

.card-refer {
  background: #F7F7F7;
  border-radius: 10px;
}

.card-refer p{
  margin-bottom: 0;
  color: #8807F7;
  font-size: 16px;
  line-height: 18px;
}

.cardy {
  box-shadow: 0px 4px 10px rgba(136, 7, 247, 0.07);
  border-radius: 10px;
  margin-right: 200px;
}

.cardy span {
  color: #3C0071;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.cardy p {
  color: #6B7280;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.cardy h3 {
  color: #3C0071;
  font-size: 25px;
  line-height: 28px;
  font-weight: 500;
}

.kyc-profile h5 {
  color: #3C0071;
  font-size: 40px;
  line-height: 45px;
  font-weight: 500;
}

.card-upload {
  background-color: #FBF3FA;
  border-radius: 10px;
}

.san-transaction {
  background: #F9F9F9;
  border-radius: 10px;
}

.san-transaction h3 {
  color: #3C0071;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}

.san-transaction h6 {
  color: #3C0071;
  font-size: 12px;
  font-weight: 600;
  line-height: 13px;
  margin-top: 10px;
}

.dilla-pending:disabled {
  font-size: 10px;
  border-radius: 50px;
  color: #EAB308;
  background-color: #FDF9C9;
  border: 1px solid #FDF9C9;
  width: 50%;
}

.dilla-success:disabled {
  font-size: 10px;
  border-radius: 50px;
  color: #22C55E;
  background-color: #E5FAED;
  border: 1px solid #E5FAED;
  width: 50%;
}

.dilla-failed:disabled {
  font-size: 10px;
  border-radius: 50px;
  color: #E8356D;
  background-color: #FAD1DE;
  border: 1px solid #FAD1DE;
  width: 50%;
}

.modal-title h3 {
  font-size: 20px;
  color: #3D0072;
  line-height: 22px;
  font-weight: 500;
}

.transf-pills a {
  font-size: 12px!important;
}

.my-bank {
  background: #F9FAFB;
  margin-left: -48px;
  margin-right: -48px;
  color: #9CA3AF;
  font-size: 14px;
  font-weight: 500;
}

.addbank {
  color: #8807F7;
  font-size: 12px;
  font-weight: 600;
}

.acc h5 {
  color: #3C0071;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 0px;
}

.acc h6{
  color: #8807F7;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.acc span {
  color: #9CA3AF;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}

.fone-number {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #3C0071;
}

.explore-section h1 {
  font-size: 55px;
  line-height: 67px;
  font-weight: 700;
  color: #3C0071;
}

.explore-section h2 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  color: #3C0071;
}

.explore-section h3 {
  font-size: 22px;
  line-height: 27px;
  font-weight: 500;
  color: #3C0071;
}

.explore-section p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #9CA3AF;
}

.bg-products {
  background-color: #F9FAFB;
  border-radius: 15px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.linker {
  color: #8807F7;
  font-size: 11px;
  line-height: 13px;
  font-weight: 700;
}

.bg-products:hover {
  background-color: #E95656;
  transform: scale(1.1);
}

.bg-products:hover h3 {
  color: #fff;
}

.bg-products:hover p {
  color: #fff;
}

.bg-products:hover span {
  color: #fff;
}

.second {
  background-color: #F9FAFB;
  margin-left: -102px;
  margin-right: -102px;
  padding: 90px 95px 120px 95px;
  margin-top: 90px;
}

.third {
  margin-left: -102px;
  margin-right: -102px;
  padding: 90px 95px 120px 95px;
}

.right-explore h6 {
  color: #3C0071;
  font-size: 32px;
  line-height: 39px;
  font-weight: 500;
}

.right-explore h5 {
  color: #9CA3AF;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}

@media (min-width: 992px){
  .right-explore {
    padding: 134px
  }
}

@media (max-width: 767.98px){
  .right-explore {
    padding: 70px
  }
}

.no-margin {
  margin-top: 0px!important;
}

.bg-soon h5 {
  color: #3C0071;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
}

.bg-soon p {
  color: #9CA3AF;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

.bg-soon:hover {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.spacing {
  padding-left: 90px!important;
  padding-right: 90px!important;
}


/* container for all of the switch elements - adjust "width" to fit the content accordingly */
.switches-container {
  width: 23rem;
  display: flex;
  padding: 0;
  position: relative;
  background: #FAF5FF;
  line-height: 4rem;
  border-radius: 3rem;
}

/* input (radio) for toggling. hidden - use labels for clicking on */
.switches-container input {
  visibility: hidden;
  position: absolute;
  top: 0;
}

/* labels for the input (radio) boxes - something to click on */
.switches-container label {
  width: 50%;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
  color: #9CA3AF;
  font-size: 14px;
  font-weight: 500
}

/* switch highlighters wrapper (sliding left / right) - need wrapper to enable the even margins around the highlight box */
.switch-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  padding: 9px;
  z-index: 3;
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
 /* transition: transform 1s;
  */
}
/* switch box highlighter */
.switchies {
  border-radius: 3rem;
  background: #8807F7;
  height: 100%;
}
/* switch box labels - default setup - toggle afterwards based on radio:checked status */
.switchies div {
  width: 100%;
  text-align: center;
  opacity: 0;
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  transition: opacity 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.125s;
  will-change: opacity;
  position: absolute;
  top: 0;
  left: 0;
}
/* slide the switch box from right to left */
.switches-container input:nth-of-type(1):checked ~ .switch-wrapper {
  transform: translateX(0%);
}
/* slide the switch box from left to right */
.switches-container input:nth-of-type(2):checked ~ .switch-wrapper {
  transform: translateX(100%);
}
/* toggle the switch box labels - first checkbox:checked - show first switch div */
.switches-container input:nth-of-type(1):checked ~ .switch-wrapper .switchies div:nth-of-type(1) {
  opacity: 1;
}
/* toggle the switch box labels - second checkbox:checked - show second switch div */
.switches-container input:nth-of-type(2):checked ~ .switch-wrapper .switchies div:nth-of-type(2) {
  opacity: 1;
}

.card-progress {
  background-color: #F9F9F9;
  border-radius: 10px;
}

.lieu span {
  color: #3C0071;
  font-size: 13px;
  line-height: 14px;
  font-weight: 500;
}

.lieu h5 {
  color: #3C0071;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.bg-private {
  margin-top: -102px;
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(63, 63, 63, 0.07);
}

.bg-private h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #000;
}

.bg-private p {
  font-size: 11px;
  font-weight: 500;
  line-height: 21px;
  color: #3C0071;
  margin-bottom: 0px;
}

.bg-private h3 {
  font-size: 15px;
  font-weight: 700;
  line-height: 21px;
  color: #3C0071;
  margin-bottom: 0px;
}

.badge-private {
  color: #EAB308!important;
  background-color: #FEF9C3;
  padding: 2px 10px 3px;
  margin-left: 20px;
  border-radius: 10px;
}

.badge-completed {
  color: #0D9488!important;
  background-color: #ECFDFC;
  padding: 2px 10px 3px;
  margin-left: 20px;
  border-radius: 10px;
}

.private-scroll {
  margin-top: -110px;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  /* text-align: justify; */
}

h3.topuptarget {
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  color: #3C0071;
}

.target-details h6 {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #9CA3AF;
}

.target-details p {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #3C0071;
}

.c-tar h3 {
  font-size: 12px;
  font-weight: 500;
  line-height: 13px;
  color: #9CA3AF;
}

.c-tar h5 {
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  color: #9CA3AF;
}

.c-tar h6 {
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
  color: #3C0071;
}

.c-tar h4 {
  color: #6B7280;
  font-size: 10px;
  font-weight: 600;
  line-height: 11px;
  margin-top: -20px;
}

.next-saving h5 {
  color: #6B7280;
  font-size: 11px;
  font-weight: 400;
  line-height: 12px;
}

.next-saving h6 {
  color: #3C0071;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
}

.rec-act {
  font-size: 18px!important;
  font-weight: 700!important;
  color: #3C0071!important;
  line-height: 20px!important;
}

.sub-head {
  font-size: 12px!important;
  font-weight: 500!important;
  color: #9CA3AF!important;
  line-height: 13px!important;
}

.label-target {
  font-family: Ubuntu-Regular!important;
  margin-bottom: 5px;
}

.tar-form::placeholder {
  color: #9B7DB6;
  font-weight: 400;
}

.tar-select {
  color: #9B7DB6!important;
  font-weight: 400!important;
}

.big-amt {
  color: #3C0071!important;
  font-size: 31px;
  line-height: 37px;
  font-weight: 500;
}

.done-roll h6 {
  color: #3C0071!important;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.current-flex {
  background-color: #FAFAFA;
  border-radius: 10px;
}

.current-flex h2 {
  color: #3C0071!important;
  font-size: 25px!important;
  line-height: 28px!important;
  font-weight: 500!important;
}

.current-flex span {
  font-size: 25px!important;
  line-height: 28px!important;
  font-weight: 500!important;
}