.privatelinks a {
  font-size: 15px;
  font-weight: 600;
  line-height: 17px;
  color: #6B7280;
  text-decoration: none;
}

.target-active {
  color: #3D0072!important;
}

.t-savings h2 {
  color: #3D0072;
  font-size: 32px;
  line-height: 37px;
  font-weight: 700;
}

.t-savings h5 {
  color: #3D0072;
  font-size: 30px;
  line-height: 34px;
  font-weight: 700;
}

.t-savings a {
  color: #8807F7;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}

.t-savings span {
  color: #3D0072;
  font-size: 12px;
  line-height: 13px;
  font-weight: 500; 
}

.private-right {
  padding-left: 60px;
  padding-right: 60px;
}

.private-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.private-card h4 {
  color: #6B7280;
  font-size: 10px;
  font-weight: 600;
  line-height: 11px;
  margin-top: -20px;
}

.private-card h3 {
  color: #6B7280;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
}

.private-card h5 {
  color: #9CA3AF;
  font-size: 10px;
  font-weight: 600;
  line-height: 11px;
}

.private-card h6 {
  color: #3C0071;
  font-size: 12px;
  font-weight: 600;
  line-height: 13px;
  margin-top: 10px;
}

.inner-current h6 {
  color: #9CA3AF;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
}

.inner-current h5 {
  color: #3D0072;
  font-weight: 600;
  font-size: 15px;
  line-height: 17px;
}

.deposit-container {
  width: 17rem!important;
  line-height: 3rem!important;
}

.ranks-bg {
  background-image: url("../img/dashboard/bg-ranks.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px 0px 60px 0px;
  margin-right: -28px;
  margin-left: -28px;
  border-radius: 20px;
}

.bg-cadeet {
  /* box-shadow: 0px 4px 24px rgba(195, 193, 193, 0.45); */
  border-radius: 20px;
}

.bg-cadeet h2 {
  color: #3D0072;
  font-weight: 500;
  font-size: 30px;
  line-height: 34px;
}

.bg-cadeet p {
  color: #3D0072;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.rankone {
  background-image: url("../img/dashboard/back-.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 45px 40px;
  border-radius: 10px;
  min-height: 235px;
}

.rankone h1 {
  color: #3D0072;
  font-weight: 700;
  font-size: 25px;
  line-height: 28px;
}

.rankone h6 {
  color: #3D0072;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
}

.rankimg {
  margin-bottom: -88px;
  margin-left: 24px;
}

.ranktops {
  margin-top: 50px;
}

.bg-payments {
  background: #f3f4f6;
  padding: 15px 44px 0px 44px;
  text-align: center;
  border-radius: 16px;
}

.bg-payments a {
  color: #9CA3AF;
  font-size: 13px;
  line-height: 14px;
  font-weight: 600;
}

.bg-payments a.active {
  border-bottom: 2px solid #8807F7;
  padding-bottom: 15px;
  color: #8807F7;
}

.addaccount-bg {
  border: 1px solid #9CA3AF;
  padding: 90px 10px;
  border-radius: 20px;
}

.addedaccount {
  background: linear-gradient(180.57deg, #1E0037 29.95%, rgba(30, 0, 55, 0) 317.48%);
  opacity: 0.95;
  padding: 80px 40px;
  border-radius: 20px;
}

.addedcards {
  margin-top: 60px;
}

.addedaccount h5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.addedaccount h6 {
  font-size: 11px;
  font-weight: 500;
  line-height: 20px;
}

.rank-message {
  box-shadow: 0px 4px 24px rgba(195, 193, 193, 0.45);
  border-radius: 20px;
}

.r-1 {
  background-image: url("../img/dashboard/private.svg")!important;
}

.r-2 {
  background-image: url("../img/dashboard/corporal.svg")!important;
}

.r-3 {
  background-image: url("../img/dashboard/sergent.svg")!important;
}

.r-4 {
  background-image: url("../img/dashboard/lieutenant.svg")!important;
}

.r-5 {
  background-image: url("../img/dashboard/captain.svg")!important;
}

.r-6 {
  background-image: url("../img/dashboard/colone.svg")!important;
}

.tips {
  padding: 40px 40px;
  margin-top: 132px;
  border-radius: 10px;
  min-height: 230px;
  background-color: #fff;
  box-shadow: 0px 12px 24px rgb(10 7 12 / 10%);
}

.tips h6 {
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  color: #3D0072;
}

.tips h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 34px;
  color: #3D0072;
}